<div class="container mt-5">
  <div class="d-flex flex-column align-items-center">
    <h2>Account Login</h2>
    <form action="/login" method="POST" class="needs-validation">
      <div class="form-group mt-3">
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
      </div>      
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>  
</div>